# DataBase
MONGODB_URI="mongodb://localhost:27017/"
MONGODB_NAME='queue'

# RedBeat
REDBEAT_REDIS_URL='redis://localhost:6379'


# REDIS For CELERY
REDIS_BROKER="redis://localhost:6379"
REDIS_BACKEND="mongodb://localhost:27017"

#queue
QUEUE_NAME = ["main"]